*{
    margin:0px;
    padding:0px;
    font-family:sans-serif;
}


ul{
    position:relative;
    top:-450px;
    left:650px;
    width:auto;
}

ul li a{
    color:white;
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    float:left;
    margin-left:30px;
    transition:0.5s;

}


.cambiaColor:hover{
    color:#F5BE41;
    transform:scale(1.2);
    transition:0.5s;
}

.transparente{
    width:100%;
    height:500px;
    background-color:rgba(0,0,0,50%);
    z-index:-1;
}
.imagen{
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:500px;
}
.inscripciones{
    border:1px solid #006c84;
    background-color:#006c84;
    border-radius:5px/5px;
    color:white;
    font-size:25px;
    font-weight:bolder;
    height:30px;
    position:relative;
    bottom:200px;
    right:400px;
    padding:5px;
    text-decoration:none;
}
.boton1{
    border:2px solid white;
    background-color:#006c84;
    color:white;
    border-radius:5px/5px;
    width:200px;
    height:40px;
    font-size:20px;
    font-weight:bolder;
    margin-left:18px;
    margin-top:53px;
    transition:0.5s;
}
.boton1:hover{
    transform:scale(1.2);
    background-color:#F5BE41;
    transition:0.5s;
}
.cards{
    background-color:gainsboro;
    width:400px;
    height:500px;
    margin-bottom:50px;
    border-radius:20px/20px;
            
}